$heading: #1F2041;
$violet: #BC9CFF;
$white: #FFFFFF;
$gray: rgba(31, 32, 65, 0.5);
$gray2: rgba(31, 32, 65, 0.75);
$gray3: rgba(31, 32, 65, 0.25);
$gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$font: 'Montserrat', sans-serif;